Repository NibiruChain/ts-sdk, pull requests merged in 2022-11, with the labels that each got.

#48 fix,docs: polish README a bit & remove stateful assumptions from tx.test.ts
  README.md
  package.json
  packages/nibijs/README.md
  packages/nibijs/package.json
  packages/nibijs/src/tx.test.ts
Labels: type: docs, type: test

#49 feat: GraphQL client for heart monitor DB
  .eslintrc.js
  .github/workflows/tests.yaml
  README.md
  packages/indexer-nibi/.npmignore
  packages/indexer-nibi/README.md
  packages/indexer-nibi/jest.config.js
  packages/indexer-nibi/package.json
  packages/indexer-nibi/src/heart-monitor.test.ts
  packages/indexer-nibi/src/heart-monitor.ts
  packages/indexer-nibi/src/types.ts
  packages/indexer-nibi/tsconfig.build.json
  packages/indexer-nibi/tsconfig.json
  packages/nibijs/src/chain.test.ts
  packages/nibijs/src/faucet.test.ts
  packages/nibijs/src/tx.test.ts
Labels: type: feat

#51 fix: type hints for indexer-nibi
  packages/indexer-nibi/package.json
  packages/indexer-nibi/src/heart-monitor.test.ts
  packages/indexer-nibi/src/heart-monitor.ts
  packages/indexer-nibi/src/types.ts
Labels: type: bug fix, type: test

#53 feat: (1) HeartMonitor class (2) enbale usage of custom GQL endpoints
  CHANGELOG.md
  packages/indexer-nibi/CHANGELOG.md
  packages/indexer-nibi/package.json
  packages/indexer-nibi/src/heart-monitor.test.ts
  packages/indexer-nibi/src/heart-monitor.ts
  packages/nibijs/CHANGELOG.md
Labels: type: docs, type: feat

#57 Add epochs, fundingRate queries
  packages/nibijs/CHANGELOG.md
  packages/nibijs/package.json
  packages/nibijs/src/faucet.test.ts
  packages/nibijs/src/query/epochs.ts
  packages/nibijs/src/query/perp.ts
  packages/nibijs/src/query/query.test.ts
  packages/nibijs/src/query/query.ts
  packages/nibijs/src/sdk.ts
Labels: type: test, type: feat
