Repository NibiruChain/ts-sdk, pull requests merged in 2023-07, with the labels that each got.

#180 refactor(stableswap): remove token prices
  packages/nibijs/docs/classes/StableSwap.md
  packages/nibijs/src/stableswap/stableswap.ts
  packages/nibijs/src/test/stableswap.test.ts
Labels: type: refactor

#181 feat(spot): add balancer swap predictor
  packages/nibijs/CHANGELOG.md
  packages/nibijs/package.json
  packages/nibijs/src/balancer/balancer.ts
  packages/nibijs/src/balancer/index.ts
  packages/nibijs/src/test/balancer.test.ts
Labels: type: feat

#186 Test/increase coverage v0.21.x
  jest.config.js
  packages/indexer-nibi/src/gql.ts
  packages/indexer-nibi/src/heart-monitor.test.ts
  packages/indexer-nibi/src/heart-monitor.ts
  packages/nibijs/src/test/faucet.test.ts
  packages/nibijs/src/test/query.tests/epochs.test.ts
  packages/nibijs/src/test/query.tests/inflation.test.ts
  packages/nibijs/src/test/query.tests/oracle.test.ts
  packages/nibijs/src/test/query.tests/perp.test.ts
  packages/nibijs/src/test/query.tests/sudo.test.ts
Labels: type: test

#187 test(increasing coverage for indexer & faucet): increasing the covere…
  jest.config.js
  packages/indexer-nibi/src/gql.ts
  packages/indexer-nibi/src/heart-monitor.test.ts
  packages/indexer-nibi/src/heart-monitor.ts
  packages/nibijs/src/test/faucet.test.ts
Labels: type: test
